@*@using PcGarage.Models;*@

@model PcGarage.Models.CategoryProductModel
@{
    ViewBag.Title = "Home";
}
@*@<nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>gdfgf
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><img src="~/Content/Image/Logo.jpg" height="50" width="60"></li>
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <div class="col-sm-3 col-md-3">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>*@
<html>
<head>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/shop-homepage.css" rel="stylesheet">
</head>
<body>
    <br />
    <br />
    <div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4"><b style="color:red;font-family:'Bernard MT'">Pc</b><b style="font-family:'Bernard MT'">Garage</b></h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>

                            @{foreach (var category in Model.categories)

                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(category.CategoryName, "Index", "Product", new { categoryId = category.CategoryId }, null)
                                        </td>
                                    </tr>
                                }
                            }

                        </thead>

                    </table>
                </div>
            </div>

            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                @{Html.RenderPartial("_Slider");
                }
                <div class="row">

                    @{ foreach (var prod in Model.products)
                        {

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href=""><img class="card-img-top" src="@Url.Content(prod.Photo)" alt=""></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            @*<a href="http://localhost:57665/Product/Details/1">@prod.ProductName</a>*@ @Html.ActionLink(@prod.ProductName, "Details", "Product", new { id = @prod.ProductId }, null)
                                        </h4>
                                        <h5>@prod.Price RON</h5>
                                        <p class="card-text">@prod.Description </p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; PcGarage 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
